/* Save button */
.button-save {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 8px;
    border: none;
}

.button-save:hover,
.button-save:focus,
.button-save:active {
    background-color: #4CAF50 !important;
    color: white;
    box-shadow: none;
    outline: none;
    }

/* Clean button */
.button-clean {
    background-color: #A09B9B;
    color: white;
    font-weight: bold;
    padding: 8px;
    border: none;
}

.button-clean:hover,
.button-clean:focus,
.button-clean:active {
    background-color: #A09B9B !important;
    color: white;
    box-shadow: none;
    outline: none;
    }

/* Optional: spacing between buttons */
.button-spacing {
    margin-right: 10px;
}



/*The principal Table ...*/
table_employee {
    overflow-x: auto;
    width: 100%;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}


/*Scroll Bar, Scroll Bar, Scroll Bar*/
.scroll-sync-container {
    position: relative;
    width: 100%;
}

.top-scrollbar {
    overflow-x: auto;
    height: 16px;
    margin-bottom: 5px;
}

.scroll-content {
    width: 2500px; /* Asegúrate que sea al menos igual al ancho de tu tabla */
    height: 1px;
}

.table-scroll {
    overflow-x: auto;
}


/* The "DESCARGAR REPORTE" and "SearchString" */

.acciones {
    display: flex;
    align-items: center; /* Asegura que estén alineados verticalmente */
}

.btn-descargar {
    margin-right: 20px; /* Ajusta el valor según el espacio que quieras */
}

.searchstring {
    flex: 1; /* opcional, si quieres que el input ocupe el espacio restante */
}